@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
.heyTolyBg {
  /* see JS */
  }
.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #EEE;
  font-family: "ColfaxAI", Helvetica, sans-serif;
  background-color: #24243e;
  border-color: #20e3b2;
  padding: 10px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom:120px;
}
.main .icon {
  width: 320px;
}
.main h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #CCC;
  margin: 16px 0 40px;
}
.main form {
  display: flex;
  flex-direction: column;
  width: 320px;
}
/*.main input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 40px;
  outline-color: #10a37f;
}*/
.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background: linear-gradient(to right, #0cebeb 0%, #20e3b2 51%, #0cebeb 100%);
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.main .result {
  font-weight: bold;
  margin-top: 40px;
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  width: 286px;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "ColfaxAI", Helvetica, sans-serif;
  color: #CCC;
  font-size: xx-small;
  width: 100%;
}
.footer a:visited {
  color: #CCC;
}
.footer a:hover {
  color: #FFF;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}
.buttonclear {
  padding: 4px 0;
  color: #000;
  background-color: #fffff;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.buttonshare {
  display: inline-block;
  writing-mode: horizontal-tb !important;
  padding: 4px 0;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  width: 320px;
}
.buttonhide {
  display: none;
}
.resulthide {
  display: none;
}
.footerIcons {
  font-size: 2em;
  padding: 10px;
}